body {
  background-image: url(nen3.gif);
  background-size: cover;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
table {
  margin: 0;
  padding: 0;
  margin-right: 20px;
}
tr:nth-child(even) {
  height: 5px;
}
td:nth-child(even) {
  padding-left: 2px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
}

/* loading */
.circle {
  width: 180px;
  height: 180px;
  background: conic-gradient(
    from 0deg at 50% 50%,
    #6f7bf7 0%,
    #9bf8f4 50%,
    #101012 50%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  box-shadow: 4px 4px 16px #000000bf, -4px -4px 16px #ffffff1a;
  animation: spin 1s infinite linear;
  position: relative;
  color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.count {
  content: " ";
  width: 174px;
  height: 174px;
  background: #1d1e22;
  position: absolute;
  top: 3px;
  left: 3px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  box-shadow: 4px 4px 16px #000000bf inset, -4px -4px 16px #ffffff1a inset;
  animation: spin 1s infinite linear reverse;
}
.percent {
  font-family: sans-serif;
  font-size: 4em;
}
#loading-progress {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 100%;
  z-index: 2;
}

/* content */
#main {
  visibility: hidden;
}
/* Khung */
.Khung_gioi_thieu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 100%;
  z-index: 2;
}

.content {
  background-color: white;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  max-width: 99%;
}

/* nút chuyển trang */
.navbutton {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.buttonnav {
  border: none;
  width: auto;
  height: 30px;
  cursor: pointer;
  font-size: 10px;
}
.effbtntrang {
  outline: none;
  box-shadow: 2px 2px 5px inset rgb(0, 0, 0), 3px 3px 20px white;
  cursor: auto;
}

/* Nội Dung Trang*/

/* INFORMATION */
.INFORMATION {
  display: block;
  font-size: 20px;
}
.INFORMATION h3 {
  text-align: center;
  margin-top: 0;
}
.INFORMATION h6 {
  margin: 20px 0 5px 15px;
  color: blue;
  font-size: 16px;
}
.Khung_anh {
  border: 2px ridge rgb(0, 238, 255);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  transform: translateX(0%);
  transition: all 0.3s;
  display: none;
}
.Khung_anh:hover,
.Khung_anh:focus {
  border-radius: 0;
  width: 200px;
  height: 350px;
  transform: translateX(-60px) translateY(-60px);
}
.icon {
  font-size: 35px;
  cursor: pointer;
}
.icon:first-child {
  color: blue;
}
.icon:nth-child(3),
.icon:nth-child(5) {
  color: red;
}
.icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
  width: 30px;
  height: 35px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  gap: 5px;
  margin-top: 5px;
}
.icon:not(:hover) {
  color: grey;
}
.some_information {
  overflow-y: auto;
  height: 200px;
}

/* GAME */
.GAME {
  display: none;
}
.khunganh2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 15px;
}
.khunganh3 {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
.table2 {
  margin-top: -10px;
  background-color: rgb(235, 235, 235);
  width: 100%;
}
.table2 td:first-child {
  width: 0;
  height: 0;
}
.table2 td:nth-child(3) {
  height: 40px;
  width: 150px;
}
.table3 {
  margin-top: 10px;
}
.table3 tr {
  height: 30px;
}
.table3 td {
  font-size: 15px;
}
.table3 td:nth-child(3n-1) {
  font-size: 25px;
}
.GAME h6 {
  margin: 20px 0 5px 15px;
  color: blue;
  font-size: 16px;
}
.some_games {
  overflow-y: auto;
  height: 200px;
}
.btncopy {
  margin-bottom: 10px;
  width: 60px;
  height: 20px;
}

/* PROJECT */
.PROJECT {
  max-width: 300px;
  display: none;
}
.PROJECT h6 {
  margin: 20px 0 5px 15px;
  color: blue;
  font-size: 16px;
}
.some_projects {
  overflow-y: auto;
  height: 200px;
}
